<div id="frydry-notification-setting" data-get-url="{{ path(frydry_notification_notification_get_url) }}" data-get-list-by-channel-url="{{ path(frydry_notification_notification_get_list_by_channel_url) }}"></div>
{% javascripts
    '@FryDryNotificationBundle/Resources/public/js/notification-manager.js'
    '@FryDryNotificationBundle/Resources/public/js/main.js' output="js/compiled/frydry.main.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}